<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @interest.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @interest.description %>
</p>

<% if current_user.interests.include?(@interest) %>
	<%= link_to "Unsubscribe", subscription_path(current_user.subscriptions.find_by_interest_id(@interest)), :method => :delete %>
<% else %>
	<%= link_to 'Subscribe', subscriptions_path(:interest_id => @interest), method: :post %>	
<% end %>

<%= link_to 'Edit', edit_interest_path(@interest) %> |
<%= link_to 'Back', interests_path %>
